:root {
    --color-primary: hsl(322, 100%, 66%);
    --color-primary-hover: hsl(321, 100%, 78%);
    --color-secondary: hsl(0, 100%, 63%);
    --color-body: hsl(192, 100%, 9%);
    --color-blue: hsl(207, 100%, 98%);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

/* ************ */
/* TYPOGRAPHY */
/* ************ */

html,
body {
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--color-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.8rem;
}

@media screen and (min-width: 840px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
}

/* ************ */
/* CONTAINERS */
/* ************ */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 3rem;
}

/* ************ */
/* GRID */
/* ************ */
.grid {
    display: grid;
}

.ai-c {
    align-items: center;
}
.jc-c {
    justify-items: center;
}

.gap-10 {
    gap: 10rem;
}

@media screen and (min-width: 840px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid--1x4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* ************ */
/* ICONS */
/* ************ */
.icon {
    width: 20px;
    height: 20px;
    transition: fill 0.3s ease-in;
}
.icon--big {
    width: 30px;
    height: 30px;
}

.icon--white {
    fill: #fff;
}

.icon--primary {
    fill: var(--color-primary);
}

.icon-selectable:hover .icon {
    fill: hsl(192, 100%, 50%);
}

/* ************ */
/* LINKS */
/* ************ */
a {
    text-decoration: none;
    color: inherit;
}

/* ************ */
/* LISTS */
/* ************ */

.list {
    list-style: none;
    padding-left: 0;
}

/* ************ */
/* BUTTONS */
/* ************ */

.btn {
    width: 100%;
    display: inline-block;
    border-radius: 50px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-weight: 700;
    padding: 1.5rem 0;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 1px;
    text-decoration: none;
    transition: background 0.3s ease-in, box-shadow 0.3s ease-in, transform 0.3s ease-in, border-color 0.3s ease-in, color 0.3s ease-in;
}

.btn--outline {
    border: 2px solid var(--color-primary);
    background: #fff;
    color: var(--color-primary);
    box-shadow: 0 5px 15px -7px var(--color-primary);
}

.btn--primary {
    background: var(--color-primary);
    color: #fff;
    box-shadow: 0 5px 15px -5px var(--color-body);
}

.btn--subscribe {
    border-radius: 5px;
}

.btn--primary:hover {
    background: var(--color-primary-hover);
}

.btn--outline:hover {
    color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
}

.btn:active {
    transform: scale(0.98);
    outline: 0;
}

.btn--primary:active {
    box-shadow: 0px 5px 15px -7px var(--color-body);
}

.btn--outline:active {
    box-shadow: 0px 5px 15px -10px var(--color-primary);
}

/* ************ */
/* INPUT */
/* ************ */
.input {
    padding: 1.5rem 2.5rem;
    width: 100%;
    outline: 0;
}

.input--primary {
    border-radius: 5px;
}

/* ************ */
/* MEDIA */
/* ************ */
.media {
    display: grid;
    grid-auto-columns: max-content;
    justify-content: center;
}

.media__image {
    width: 40px;
    height: 40px;
}

.media__body {
    text-align: center;
}

.media__title {
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
    font-size: 7rem;
}

.media__text {
    font-size: 1.8rem;
    opacity: 0.5;
}

/* ************ */
/* NEWSLETTER */
/* ************ */
.newsletter__heading {
    margin-bottom: 2rem;
}

.newsletter__form {
    display: grid;
    gap: 2rem;
}

.newsletter__btn {
    width: 50%;
    justify-self: end;
}

@media screen and (min-width: 840px) {
    .newsletter__heading {
        max-width: 50%;
    }

    .newsletter__form {
        grid-template-columns: 2fr 1fr;
        gap: 4rem;
    }

    .newsletter__btn {
        width: 100%;
    }
}

/* ************ */
/* BLOCK */
/* ************ */

.block {
    margin: 0 auto;
}

.block__header {
    margin-bottom: 2rem;
    text-align: center;
}

.block__header p {
    opacity: 0.8;
}

@media screen and (min-width: 840px) {
    .block__header {
        text-align: left;
    }
}

/* ************ */
/* FEATURES */
/* ************ */
.block-features {
    margin-bottom: 5rem;
}

.block-features:nth-of-type(2n - 1) {
    background: url(../images/bg-section-top-mobile-2.svg), url(../images/bg-section-bottom-mobile-2.svg);
    background-repeat: no-repeat;
    background-clip: padding-box, padding-box;
    background-position: 50% 100%, 50% 0%;
    background-size: 100% 52px, 100% 112px;
    background-color: var(--color-blue);
    padding: 10rem 0;
}

.block-features__image {
    width: 100%;
}

@media screen and (min-width: 840px) {
    .block-features:nth-of-type(2n - 1) {
        background: url(../images/bg-section-top-desktop-1.svg), url(../images/bg-section-bottom-desktop-1.svg);
        background-repeat: no-repeat;
        background-clip: padding-box, padding-box;
        background-position: 50% 100%, 50% 0%;
        background-size: 100% 52px, 100% 112px;
        background-color: var(--color-blue);
        padding: 10rem 0;
    }

    .block-features:nth-of-type(2n - 1) .block-features__image {
        order: 2;
    }
}

/* ************ */
/* NAVIGATION */
/* ************ */
.nav {
    padding-top: 1rem;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.nav__logo {
    width: 80px;
}

.nav__list {
    display: flex;
    font-size: 1.2rem;
    opacity: 0.7;
}

.nav__item {
    padding-left: 2rem;
}

.nav__item > a {
    transition: color 0.3s ease-in;
}

.nav__item > a:hover {
    color: var(--color-secondary);
}

/* ************ */
/* BLOCK HERO */
/* ************ */
.block-hero {
    align-items: center;
    gap: 4rem;
    margin-bottom: 5rem;
}

.block-hero__image {
    width: 100%;
}

.block-hero__input {
    gap: 1rem;
}

@media screen and (min-width: 840px) {
    .block-hero__image {
        order: 2;
    }

    .block-hero__input {
        padding-right: 2rem;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }
}

/* ************ */
/* BLOCK TESTIMONIAL */
/* ************ */
.block-testimonial {
    background: url('../images/bg-curve-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    padding: 8rem 0;
}

.block-testimonial .grid {
    align-items: center;
    gap: 4rem;
}

.block-testimonial__image {
    width: 100%;
}

.block-testimonial__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-testimonial__content .testimonial {
    margin-top: 5rem;
}

@media screen and (min-width: 840px) {
    .block-testimonial {
        background: url('../images/bg-curve-desktop.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0%;
    }

    .block-testimonial__image {
        order: 2;
    }

    .block-testimonial__content {
        align-items: flex-start;
    }
}

/* ************ */
/* CALLOUT */
/* ************ */
.callout {
    background: var(--color-callout);
    padding: 5rem 0;
}

.callout .block__header {
    color: #fff;
}

.callout__input {
    gap: 2rem;
}

@media screen and (min-width: 840px) {
    .callout .grid {
        column-gap: 10rem;
    }

    .callout__input .btn {
        width: 50%;
    }
}

/* ************ */
/* FOOTER */
/* ************ */
.footer {
    background-color: var(--color-body-black);
    color: #fff;
    padding: 5rem 0;
    font-size: 1.2rem;
}

.footer .grid {
    row-gap: 3rem;
}

.footer__logo {
    width: 166px;
    height: 49px;
    margin-bottom: 2rem;
}

.footer__contacts .media {
    align-items: flex-start;
    margin-bottom: 2rem;
}

.footer__contacts .media__body {
    align-self: center;
}

.footer__social {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer__item {
    margin-bottom: 1.5rem;
}

.footer__item > a {
    cursor: pointer;
}

.footer__item > a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 840px) {
    .footer .grid {
        grid-template-columns: 2fr repeat(3, 1fr);
    }
}
