<div class="newsletter">
    <div class="newsletter__heading">
        <h3 class="newsletter__header">Newsletter</h3>
        <p class="newsletter__body">
            To recieve tips on how to grow your community, sign up to our weekly newsletter. We’ll never send you spam or pass on your email address
        </p>
    </div>
    <div class="newsletter__form">
        <input type="email" class="input input--primary" name="email" required />
        <a href="#" class="btn btn--primary btn--subscribe newsletter__btn">Subscribe</a>
    </div>
</div>
